
<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color='secondary'>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [href]="p.url" [class.active-item]=activePage(p) routerDirection="root">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>