
    



<ion-content no-padding>

  <ion-tabs>
 
    <ion-tab-bar color="primary" slot="bottom">

      <ion-tab-button tab="flux">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Flux</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="gains"> 
        <ion-icon name="trending-up"></ion-icon>
        <ion-label>Gains</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="expenses">
        <ion-icon name="trending-down"></ion-icon>
        <ion-label>Expenses</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories">
        <ion-icon name="filing"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>

      
    </ion-tab-bar>
   
  </ion-tabs>
    

</ion-content>
