#grid-home {
    height: 100%; 
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#grid-home .grid-row{
    flex-grow: 1;
}


#grid-home .grid-btn{
    height: 100%;
    font-size: 28px;
    font-weight: bold;
    border: 1px grey solid;
    box-shadow: 7px 4px 2px grey;
}