
<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align:center; ">STUTTGART SURVIVING APP</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content id="oi" padding>

<ion-grid id="grid-home" >

    <ion-row class='grid-row'>
      <ion-col>
        <ion-button class='grid-btn' expand="full" color='secondary' routerLink="/myeuros/" routerDirection="forward">Mys Euross</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class='grid-row'>
      <ion-col>
          <ion-button class='grid-btn' expand="full" color='secondary' routerLink="/tobuy/" routerDirection="forward">To buy</ion-button>
     
      </ion-col>
    </ion-row>

    <ion-row class='grid-row'>
      <ion-col>
        <ion-button class='grid-btn' expand="full" color='secondary' routerLink="/recipes/" routerDirection="forward">Recipes</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class='grid-row'>
      <ion-col>
        <ion-button class='grid-btn' expand="full" color='secondary' routerLink="/todo/" routerDirection="forward">To do</ion-button>
      </ion-col>
    </ion-row>

</ion-grid>

</ion-content>
