<ion-header>
  <ion-toolbar color="primary">
      <ion-title style="text-align:center; ">To Buy</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content no-padding>

  <ion-fab vertical='bottom' horizontal='center' slot='fixed'>
    <ion-fab-button color='secondary' size='small'(click)='presentModal(null)'>
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
  <ion-list no-padding>
    <ion-item-sliding *ngFor='let item of items'>

      <ion-item no-padding>

        <ion-grid no-padding>
          <ion-row class="row" >

            <ion-col size="1" class="col-category" [class.item-bought]="item.bought">
              <p>{{ item.category.name }}</p>
            </ion-col>

            <ion-col size="6"  class="col-name" [class.item-bought]="item.bought">
              <div class='item-id'><div>{{item.id}}</div></div>
              <div class="item-name" [class.item-name-bought]="item.bought"> {{ item.name }}</div>
              <div class="item-cr-time"><ion-icon name="time"></ion-icon> {{ item.datetime_cr}}</div>
            </ion-col>

            <ion-col size="5" class="col-price">
                <div class="item-price">{{ item.expected | currency : 'EUR'}}  <span class="item-spent" *ngIf="item.bought" [class.cheaper]="comparePrices(item)"> / {{ item.spent | currency : 'EUR'}}</span></div>
                <div class="subtitle">expected <span *ngIf="item.bought">/ spent</span></div>
                <ion-toggle color="secondary" [(ngModel)]="item.bought" (ionChange)="saveItem(item)"></ion-toggle>
                <div class="item-b-time" *ngIf="item.bought"><ion-icon name="time"></ion-icon> {{item.datetime_b}}</div>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(item)"><ion-icon slot='icon-only' name='create'></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)='deleteItem(item.id)'><ion-icon slot='icon-only' name='trash'></ion-icon></ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>

  </ion-list>

  <ion-list no-padding>
    <ion-list-header color="secondary">
        <ion-label>Purchases</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor='let item of purchases'>

      <ion-item no-padding>

        <ion-grid no-padding>
          <ion-row class="row" >

            <ion-col size="1" class="col-category" [class.item-bought]="item.bought">
              <p>{{ item.category.name}}</p>
            </ion-col>

            <ion-col size="6"  class="col-name" [class.item-bought]="item.bought">
              <div class='item-id'><div>{{item.id}}</div></div>
              <div class="item-name" [class.item-name-bought]="item.bought"> {{ item.name }}</div>
              <div class="item-cr-time"><ion-icon name="time"></ion-icon> {{ item.datetime_cr}}</div>
            </ion-col>

            <ion-col size="5" class="col-price">
                <div class="item-price">{{ item.expected | currency : 'EUR'}}  <span class="item-spent" *ngIf="item.bought" [class.cheaper]="comparePrices(item)"> / {{ item.spent | currency : 'EUR'}}</span></div>
                <div class="subtitle">expected <span *ngIf="item.bought">/ spent</span></div>
                <ion-toggle color="secondary" [(ngModel)]="item.bought" (ionChange)="saveItem(item)"></ion-toggle>
                <div class="item-b-time" *ngIf="item.bought"><ion-icon name="time"></ion-icon> {{item.datetime_b}}</div>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(item)"><ion-icon slot='icon-only' name='create'></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)='deleteItem(item.id)'><ion-icon slot='icon-only' name='trash'></ion-icon></ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>

  </ion-list>

</ion-content>
