<ion-header>
  <ion-toolbar color="secondary">
      <ion-title style="text-align:center; ">{{title}}</ion-title>
      <ion-button size="small" slot="end" (click)="dismissModal()" color="danger">
        <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding >

<div class="modal-container">

    <form [formGroup]="itemForm" (submit)="onSubmit()">

        <ion-input name='id' type='hidden' formControlName='id'></ion-input>

        <ion-input name='bought' type='hidden' formControlName='bought'></ion-input>

        <ion-input name='datetime_b' type='hidden' formControlName='datetime_b'></ion-input>
    
        <ion-item>
          <ion-input placeholder='Name' name='name' type='text' formControlName='name' autocapitalize='words'></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input placeholder='Expected' name='expected' type='number' formControlName='expected'></ion-input>
        </ion-item>

        <ion-item *ngIf="item">
          <ion-input placeholder='Spent' name='spent' type='number' formControlName='spent'></ion-input>
        </ion-item>

        <ion-item *ngIf="!item">
          <ion-input placeholder='Spent' name='spent' type='number' formControlName='spent'></ion-input>
        </ion-item>
    
    
        <ion-item>
          <ion-select name="id_category" type='number' placeholder="Select Category" okText="Okay"  formControlName='id_category' cancelText="Dismiss">
            <ion-select-option *ngFor="let category of categories" [selected]=compareId(category.id) value={{category.id}}>{{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div padding-top>
          <ion-button type='submit' [disabled]='!itemForm.valid' color='secondary' expand="full">Save</ion-button>
        </div>

        <div padding>
          <ion-button (click)="deleteItem(item.id)" color='danger' expand="full">Delete</ion-button>
        </div>
    
      </form>

</div>

  

</ion-content>
