<ion-header>
    <ion-toolbar color="secondary">
        <ion-title style="text-align:center; ">{{title}}</ion-title>
        <ion-button size="small" slot="end" (click)="dismissModal()" color="danger">
          <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content padding >

  <div class="modal-container">

      <form [formGroup]="categoryForm" (submit)="onSubmit()">

          <ion-input name='id' type='hidden' formControlName='id'></ion-input>
      
          <ion-item>
            <ion-input placeholder='Name' name='name' type='text' formControlName='name' autocapitalize='words'></ion-input>
          </ion-item>
      
          <div padding-top>
            <ion-button type='submit' [disabled]='!categoryForm.valid' color='secondary' expand="full" href='/categories/'>Save</ion-button>
          </div>

          <div padding>
            <ion-button (click)="deleteCategory(category.id)" color='danger' expand="full">Delete</ion-button>
          </div>
      
        </form>

  </div>

   

</ion-content>
